In [113]:
import pandas as pd
import random
import numpy as np

In [114]:
random.seed(114514)
np.random.seed(1919810)

mean = 0.075
std_dev = 0.025
num_samples = 1000

random_numbers = np.random.normal(loc=mean, scale=std_dev, size=num_samples)

In [115]:
sale_data = pd.read_csv("data/结果/full_预期销售量.csv")

In [116]:
sale_data

,年份,季度,黄豆,黑豆,红豆,绿豆,爬豆,小麦,玉米,谷子,...,空心菜,黄心菜,芹菜,大白菜,白萝卜,红萝卜,榆黄菇,香菇,白灵菇,羊肚菌
0,2023,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
1,2023,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
2,2024,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
3,2024,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
4,2025,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
5,2025,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
6,2026,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
7,2026,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
8,2027,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
9,2027,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
10,2028,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
11,2028,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
12,2029,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
13,2029,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200
14,2030,1,57000,21850,22400,33040,9875,170840,132750,71400,...,3600,1800,0,0,0,0,0,0,0,0
15,2030,2,0,0,0,0,0,0,0,0,...,0,0,1800,150000,100000,36000,9000,7200,18000,4200

In [117]:
sale_data_sims = []
for t in range(0, 100):
    sale_data_sim = sale_data.copy()
    for year in range(2024, 2031):
        sale_data_sim.loc[sale_data_sim["年份"] == year, sale_data_sim.columns[2:7]] = (
            sale_data_sim.loc[
                sale_data_sim["年份"] == 2023, sale_data_sim.columns[2:7]
            ].values
            * (1 + 0.05 * (random.random() - 0.5))
        )
        sale_data_sim.loc[sale_data_sim["年份"] == year, sale_data_sim.columns[7:]] = (
            sale_data_sim.loc[
                sale_data_sim["年份"] == 2023, sale_data_sim.columns[7:]
            ].values
            * (1 + 0.05 * (random.random() - 0.5))
        )
        sale_data_sim.loc[sale_data_sim["年份"] == year, sale_data_sim.columns[7:9]] = (
            sale_data_sim.loc[
                sale_data_sim["年份"] == year - 1, sale_data_sim.columns[7:9]
            ].values
            * (1 + random_numbers[t])
        )
    sale_data_sims.append(sale_data_sim)

In [118]:
simulated_columns_list = []

for sim in sale_data_sims:
    simulated_columns = sim.iloc[:, 2:]
    simulated_columns_list.append(simulated_columns)

simulated_mean = pd.concat(simulated_columns_list).groupby(level=0).mean()

sale_data.iloc[:, 2:] = simulated_mean.values

sale_data.round(2).to_csv("data/结果/full_预期销售量_sim.csv", index=False)

,年份,季度,黄豆,黑豆,红豆,绿豆,爬豆,小麦,玉米,谷子,...,空心菜,黄心菜,芹菜,大白菜,白萝卜,红萝卜,榆黄菇,香菇,白灵菇,羊肚菌
0,2023,1,57000.00,21850.00,22400.00,33040.00,9875.00,170840.00,132750.00,71400.00,...,3600.00,1800.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2023,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1800.00,150000.00,100000.00,36000.00,9000.00,7200.00,18000.00,4200.00
2,2024,1,56861.24,21796.81,22345.47,32959.57,9850.96,184203.65,143134.13,71558.62,...,3608.00,1804.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2024,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1804.00,150333.23,100222.15,36079.98,9019.99,7216.00,18039.99,4209.33
4,2025,1,56940.71,21827.27,22376.70,33005.63,9864.73,198733.31,154424.30,71421.75,...,3601.10,1800.55,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,2025,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1800.55,150045.70,100030.47,36010.97,9002.74,7202.19,18005.48,4201.28
6,2026,1,56884.04,21805.55,22354.43,32972.79,9854.91,214538.40,166705.53,71358.55,...,3597.91,1798.95,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,2026,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1798.95,149912.91,99941.94,35979.10,8994.77,7195.82,17989.55,4197.56
8,2027,1,56934.42,21824.86,22374.23,33001.99,9863.64,231739.23,180071.31,71504.22,...,3605.25,1802.63,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,2027,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1802.63,150218.95,100145.97,36052.55,9013.14,7210.51,18026.27,4206.13
10,2028,1,56866.58,21798.86,22347.57,32962.67,9851.89,250468.11,194624.45,71251.70,...,3592.52,1796.26,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11,2028,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1796.26,149688.45,99792.30,35925.23,8981.31,7185.05,17962.61,4191.28
12,2029,1,56973.12,21839.69,22389.44,33024.42,9870.34,270870.63,210478.08,71394.88,...,3599.74,1799.87,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,2029,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1799.87,149989.25,99992.84,35997.42,8999.36,7199.48,17998.71,4199.70
14,2030,1,56830.37,21784.98,22333.34,32941.68,9845.61,293107.03,227756.72,71442.14,...,3602.12,1801.06,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,2030,2,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1801.06,150088.53,100059.02,36021.25,9005.31,7204.25,18010.62,4202.48

In [158]:
sale_data[sale_data["季度"] == 1].mean().values[2:][0]

56911.31136176811